<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eisc.claryo.swamdrones">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DroneDetails"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Control"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".EssaimConfig"
            android:parentActivityName=".Control"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".PilotageConf"
            android:parentActivityName=".EssaimConfig"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".PositionConf"
            android:parentActivityName=".EssaimConfig"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".VideoConf"
            android:parentActivityName=".EssaimConfig"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".InfoConf"
            android:parentActivityName=".EssaimConfig"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".EssaimView"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".APropos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Notice"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".NoticeMenuPrincipal"
            android:parentActivityName=".Notice"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".NoticeControlDrone"
            android:parentActivityName=".Notice"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".NoticeDetailsDrone"
            android:parentActivityName=".Notice"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".NoticeEssaimView"
            android:parentActivityName=".Notice"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".NoticeConfigurationDrone"
            android:parentActivityName=".Notice"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".NoticeConfigurationPilotage"
            android:parentActivityName=".Notice"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".NoticeConfigurationVideo"
            android:parentActivityName=".Notice"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>